body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h3 {
    color: #06ab0e;
    font-size: 50px;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;

}

table {
    background-color: #fff;
    border-collapse: collapse;
    width: 600px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td {
    padding: 10px;
    vertical-align: top;
    font-size: 14px;
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"], input[type="reset"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="button"]:hover, input[type="reset"]:hover {
    background-color: #45a049;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

font {
    font-size: 12px;
}
